#Mobile_Net
{
    font-size: 25px;
    color: aqua;
}

#Google_Net
{
    font-size: 25px;
    color: crimson;
}

#resultBetter
{
    font-size: 25px;
    color: blue;
}

#Mobile_Net1
{
    font-size: 25px;
    color: aqua;
}

#Google_Net1
{
    font-size: 25px;
    color: crimson;
}

#resultBetter1
{
    font-size: 25px;
    color: blue;
}

#Mobile_Net2
{
    font-size: 25px;
    color: aqua;
}

#Google_Net2
{
    font-size: 25px;
    color: crimson;
}

#resultBetter2
{
    font-size: 25px;
    color: blue;
}


#Mobile_Net3
{
    font-size: 25px;
    color: aqua;
}

#Google_Net3
{
    font-size: 25px;
    color: crimson;
}

#resultBetter3
{
    font-size: 25px;
    color: blue;
}


#Mobile_Net4
{
    font-size: 25px;
    color: aqua;
}

#Google_Net4
{
    font-size: 25px;
    color: crimson;
}

#resultBetter4
{
    font-size: 25px;
    color: blue;
}